@font-face {
    font-family: Modesty;
    src: url(../fonts/ModestyFreshStyle.otf);
}
@font-face {
    font-family: Marcellus;
    src: url(../fonts/Marcellus-llzw.ttf);
}
@font-face {
    font-family: Futura;
    src: url(../fonts/Futura\ Book\ font.ttf);
}